@using devpro_project.Models
@functions {
    public MyDbContext db = new MyDbContext();
    public List<ItemCategory> GetCategories()
    {
        List<ItemCategory> list_record = db.Categories.Where(item => item.ParentId == 0).OrderByDescending(item => item.Id).ToList();
        return list_record;
    }
    //lay tat ca danh muc cha
    //lay danh muc con
    public List<ItemCategory> GetSubCategories(int _CategoryId)
    {
        List<ItemCategory> list_record = db.Categories.Where(item => item.ParentId == _CategoryId).OrderByDescending(item => item.Id).ToList();
        return list_record;
    }
    public List<ItemTag> GetTags()
    {
        List<ItemTag> list_record = db.Tags.OrderByDescending(item => item.Id).ToList();
        return list_record;
    }
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Coron-shop list</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Frontend/img/favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="~/Frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Frontend/css/plugin.css">
    <link rel="stylesheet" href="~/Frontend/css/bundle.css">
    <link rel="stylesheet" href="~/Frontend/css/style.css">
    <link rel="stylesheet" href="~/Frontend/css/responsive.css">
    <script src="~/Frontend/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/654f67dacec6a912820ee051/1hev2rbos';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- Add your site or application content here -->
    <!--pos page start-->
    <div class="pos_page">
        <div class="container">
            <!--pos page inner-->
            <div class="pos_page_inner">
                <!--header area -->
                @Html.Partial("~/Views/Shared/Header.cshtml")
                <!--header end -->
                <!--breadcrumbs area start-->
                <div class="breadcrumbs_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb_content">
                                <ul>
                                    <li><a href="/Home/Index">home</a></li>
                                    <li><i class="fa fa-angle-right"></i></li>
                                    <li>shop</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs area end-->
                <!--pos home section-->
                <div class=" pos_home_section">
                    <div class="row pos_home">
                        <div class="col-lg-3 col-md-12">
                            <!--categorie menu start-->
                            <div class="sidebar_widget catrgorie mb-35">
                                <h3>Categories</h3>
                                <ul>
                                    @{
                                        List<ItemCategory> list_category = GetCategories();
                                    }
                                    @foreach (var item_category in list_category)
                                    {
                                        <li class="has-sub">
                                            <a href="/Products/Categories/@item_category.Id"><i class="fa fa-caret-right"></i>@item_category.Name</a>

                                            @{
                                                List<ItemCategory> list_sub_category = GetSubCategories(item_category.Id);
                                            }
                                            @if (list_sub_category.Count > 0)
                                            {
                                                @foreach (var item_sub in list_sub_category)
                                                {
                                                    <ul class="categorie_sub">
                                                        <li>
                                                            <a href="/Products/Categories/@item_sub.Id"><i class="fa fa-caret-right"></i> @item_sub.Name</a>
                                                        </li>
                                                    </ul>
                                                }
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!--categorie menu end-->
                            <!--color area start-->
                            <div class="sidebar_widget color">
                                <h2>Color</h2>
                                <div class="widget_color">
                                    <ul>

                                        <li><a href="#">Black <span>(10)</span></a></li>

                                        <li><a href="#">Orange <span>(12)</span></a></li>

                                        <li> <a href="#">Blue <span>(14)</span></a></li>

                                        <li><a href="#">Yellow <span>(15)</span></a></li>

                                        <li><a href="#">pink <span>(16)</span></a></li>

                                        <li><a href="#">green <span>(11)</span></a></li>

                                    </ul>
                                </div>
                            </div>
                            <!--color area end-->
                            <!--price slider start-->
                            <div class="sidebar_widget price">
                                <h2>Price</h2>
                                <div class="ca_search_filters">

                                    <input type="number" min="0" id="from_price" style="width:100px; border:1px solid #444444;" placeholder="from price"> - <input type="number" min="0" id="to_price" style="width:100px; border:1px solid #444444" placeholder="to price"> <button onclick="location.href='/Products/SearchPrice?from_price='+document.getElementById('from_price').value+'&to_price='+document.getElementById('to_price').value;" class="filter-submit">Filter</button>
                                </div>
                            </div>
                            <!--price slider end-->
                            <!--wishlist block start-->
                            <div class="sidebar_widget wishlist mb-30">
                                <div class="block_title">
                                    <h3><a href="#">Wishlist</a></h3>
                                </div>
                                <div class="block_content">
                                    <p>2  products</p>
                                    <a href="#">» My wishlists</a>
                                </div>
                            </div>
                            <!--wishlist block end-->
                            <!--popular tags area-->
                            <div class="sidebar_widget tags  mb-30">
                                <div class="block_title">
                                    <h3>popular tags</h3>
                                </div>
                                <div class="block_tags">
                                    @{
                                        int tag_id = 0;
                                        if (ViewBag.tag_id != null)
                                        {
                                            tag_id = ViewBag.tag_id;
                                        }
                                        List<ItemTag> list_tag = GetTags();
                                    }
                                    @foreach(var item in list_tag)
                                    {
                                        <a href="/Products/Tag/@item.Id">@item.Name</a>
                                    }
                                   

                                </div>
                            </div>
                            <!--popular tags end-->
                            <!--newsletter block start-->
                            <div class="sidebar_widget newsletter mb-30">
                                <div class="block_title">
                                    <h3>newsletter</h3>
                                </div>
                                <form action="#">
                                    <p>Sign up for your newsletter</p>
                                    <input placeholder="Your email address" type="text">
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                            <!--newsletter block end-->
                            <!--special product start-->
                            <div class="sidebar_widget special">
                                <div class="block_title">
                                    <h3>Special Products</h3>
                                </div>
                                <div class="special_product_inner mb-20">
                                    <div class="special_p_thumb">
                                        <a href="#"><img src="~/Frontend/img/cart/cart3.jpg" alt=""></a>
                                    </div>
                                    <div class="small_p_desc">
                                        <div class="product_ratting">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h3><a href="#">Lorem ipsum dolor</a></h3>
                                        <div class="special_product_proce">
                                            <span class="old_price">$124.58</span>
                                            <span class="new_price">$118.35</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="special_product_inner">
                                    <div class="special_p_thumb">
                                        <a href="#"><img src="~/Frontend/img/cart/cart18.jpg" alt=""></a>
                                    </div>
                                    <div class="small_p_desc">
                                        <div class="product_ratting">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h3><a href="#">Printed Summer</a></h3>
                                        <div class="special_product_proce">
                                            <span class="old_price">$124.58</span>
                                            <span class="new_price">$118.35</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--special product end-->


                        </div>
                        @RenderBody()
                    </div>
                </div>
                <!--pos home section end-->
            </div>
            <!--pos page inner end-->
        </div>
    </div>
    <!--pos page end-->
    <!--footer area start-->
    <div class="footer_area">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>About us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="footer_widget_contect">
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>  19 Interpro Road Madison, AL 35758, USA</p>

                                <p><i class="fa fa-mobile" aria-hidden="true"></i> (012) 234 432 3568</p>
                                <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact@plazathemes.com </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>My Account</h3>
                            <ul>
                                <li><a href="#">Your Account</a></li>
                                <li><a href="#">My orders</a></li>
                                <li><a href="#">My credit slips</a></li>
                                <li><a href="#">My addresses</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>Informations</h3>
                            <ul>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">Our store(s)!</a></li>
                                <li><a href="#">My credit slips</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">About us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>extras</h3>
                            <ul>
                                <li><a href="#"> Brands</a></li>
                                <li><a href="#"> Gift Vouchers </a></li>
                                <li><a href="#"> Affiliates </a></li>
                                <li><a href="#"> Specials </a></li>
                                <li><a href="#"> Privacy policy </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <ul>
                                <li><a href="#"> about us </a></li>
                                <li><a href="#">  Customer Service  </a></li>
                                <li><a href="#">  Privacy Policy  </a></li>
                            </ul>
                            <p>Copyright &copy; 2018 <a href="#">Pos Coron</a>. All rights reserved. </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer_social text-right">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>

                                <li><a href="#"><i class="fa fa-wifi" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer area end-->
    <!-- modal area start -->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/Frontend/img/product/product13.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/Frontend/img/product/product14.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/Frontend/img/product/product15.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal_tab_button">
                                        <ul class="nav product_navactive" role="tablist">
                                            <li>
                                                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="~/Frontend/img/cart/cart17.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="~/Frontend/img/cart/cart18.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="~/Frontend/img/cart/cart19.jpg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Handbag feugiat</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$64.99</span>
                                        <span class="old_price">$78.99</span>
                                    </div>
                                    <div class="modal_content mb-10">
                                        <p>Short-sleeved blouse with feminine draped sleeve detail.</p>
                                    </div>
                                    <div class="modal_size mb-15">
                                        <h2>size</h2>
                                        <ul>
                                            <li><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                            <li><a href="#">xxl</a></li>
                                        </ul>
                                    </div>
                                    <div class="modal_add_to_cart mb-15">
                                        <form action="#">
                                            <input min="0" max="100" step="2" value="1" type="number">
                                            <button type="submit">add to cart</button>
                                        </form>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal area end -->
    <!-- all js here -->
    <script src="~/Frontend/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/Frontend/js/popper.js"></script>
    <script src="~/Frontend/js/bootstrap.min.js"></script>
    <script src="~/Frontend/js/ajax-mail.js"></script>
    <script src="~/Frontend/js/plugins.js"></script>
    <script src="~/Frontend/js/main.js"></script>
</body>
</html>

